/* 重写bootstrap */
.panel{
	margin-bottom: 10px;
}
.panel-warning{
	border: 1px solid #ccc;
}
.panel-warning .panel-heading{
	background: #edfed0;
	font-weight: bold;
}



/* 页面样式 */
#buyitems{
	padding: 10px;
}
#buyitems .add-form{
	margin-bottom: 10px;
}
#buyitems .alert{
	padding: 5px 8px;
	margin-bottom: 10px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
#buyitems .alert-warning{
	background: #fefea4;
	border: 1px solid #e6e098;
	padding: 8px 12px;
	color: #666;
	font-size: 12px;
}
#buyitems .alert-warning .glyphicon{
	color: #f96;
}

#loading{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}
#loading .overlay{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
}
#loading .loading{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -16px;
    background: transparent url(../images/loading.gif) no-repeat 50% 50%;
}

#buyitems .item{
	border: 1px solid #ccc;
	-webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);	
}
#buyitems .item .header{
	position: relative;
	height: 40px;
	line-height: 40px;
	background: #edfed0;
	padding-left: 15px;
	padding-right: 15px;
	cursor: pointer;
}
#buyitems .item .header h3{
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	margin: 0;
	float: left;
	display: inline-block;
}
#buyitems .item .header .price{
	font-size: 14px;
	color: #f60;
	display: inline-block;
	margin-left: 10px;
}
#buyitems .item .header .remove{
	position: absolute;
	right: 10px;
	top: 0;
	font-size: 16px;
	cursor: pointer;
	color: #f60;
}
#buyitems .item{
	margin-bottom: 10px;
}
#buyitems .item .more{
	overflow: hidden;
	padding: 10px;
}
#buyitems .item .more .col-sm-3 img{
	width: 100%;
}
#buyitems .item .more dl{
	margin-bottom: 10px;
}
#buyitems .item .more dl dt{
	width: 130px;
	float: left;
	text-align: right;
	font-weight: 100;
	line-height: 30px;
	color: #838383;
}
#buyitems .item .more dl dd{
	padding-left: 150px;
	line-height: 30px;
}
#buyitems .item .more dl dd .input-group{
	width: 130px;
}
#buyitems .item .more input.request{
    border: 1px solid #f60;
}
#buyitems .item .more dl dd .input-group input{
	text-align: center;
}
#buyitems .item .more dl dd > input[type='text']{
	width: 130px;
}
#buyitems .item .more dl textarea{
    width: 80%;
    height: 70px;
}
#buyitems .item .more dl dd.price{
	color: #f60;
}
#buyitems .item .more dl dd .popover{
    position: relative;
    margin-top: 3px;
    left: -15px;
}
#buyitems .item .more dl dd .popover .arrow{
    left: 20px;
}
#buyitems .item .more dl dd .popover h5{
    margin: 0 0 3px 0;
    color: #838383;
}


/* 统计区块 */
#statistic .panel-body{
	position: relative;
}
#statistic .panel-body button{
	position: absolute;
	top: 10px;
	right: 10px;
}
#statistic dl{
	margin-bottom: 0;
	box-sizing: border-box;
}
#statistic dl dt{
	width: 80px;
	font-weight: normal;
	text-align: right;
	display: inline-block;
}
#statistic dl dd{
	width: 10%;
	font-weight: 700;
	display: inline-block;
	color: #f60;
}



/* 提示类 */
#popup_mask{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}
#popup_box{
    position: absolute;
    text-align: center;
    background-color: #fff;
    background-clip: padding-box;
    z-index: 100;
    top: 100px;
    width: 450px;
    left: 50%;
    margin-left: -225px;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0.1);
}
#popup_box .glyphicon{
    font-size: 60px;
    margin: 20px auto;
    display: block;
    opacity: 0.9;
}
#popup_box p{
    font-size: 12px;
    color: #525252;
    white-space:normal;
    word-break:break-all;
    width: 90%;
    margin: 0 auto;
}
#popup_box .btn-border{
    display: inline-block;
    width: 50%;
    border: 1px solid #f60;
    color: #f60;
    font-weight: 700;
    border-radius: 2px;
    background: #fff;
    font-size: 12px;
    padding: 6px 12px;
    line-height: 1.428571429;
    margin: 20px auto;
}
#popup_box .btn-border:active{
    background: #f60;
    color: #fff;
}
.info .glyphicon{
    color: #ff7f00;
}
.error .glyphicon{
    color: #d54a4a;
}
.success .glyphicon{
    color: #51bd12;
}
.info .c-btn-orange{
    background: #ff7f00;
}
.error .c-btn-orange{
    background: #d54a4a;
}
.success .c-btn-orange{
    background: #51bd12;
}